<link rel="import" href="/profile_browser_proxy.html">
<link rel="import" href="/shared_styles.html">
<link rel="import" href="chrome://resources/html/i18n_behavior.html">
<link rel="import" href="chrome://resources/html/polymer.html">
<link rel="import" href="chrome://resources/polymer/v1_0/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-button/paper-button.html">

<dom-module id="control-bar">
  <template>
    <style include="shared-styles iron-flex iron-flex-alignment">
      #container {
        -webkit-padding-end: 8px;
        -webkit-padding-start: 24px;
        align-items: center;
        min-height: 32px;
        padding-bottom: 12px;
        padding-top: 12px;
      }

      #logo {
        -webkit-margin-end: auto;
      }
    </style>
    <div id="container" class="layout horizontal end-justified">
      <div id="logo" class="product-logo" alt=""></div>
      <paper-button id="launchGuest" class="action secondary"
          on-tap="onLaunchGuestTap_"
          i18n-content="browseAsGuest" hidden="[[!showGuest]]"></paper-button>
      <paper-button id="addUser" class="action secondary" on-tap="onAddUserTap_"
          i18n-content="addUser" hidden="[[!showAddPerson]]"></paper-button>
    </div>
  </template>
  <script src="control_bar.js"></script>
</dom-module>
