<link rel="import" href="/icons.html">
<link rel="import" href="/profile_browser_proxy.html">
<link rel="import" href="/shared_styles.html">
<link rel="import" href="chrome://resources/html/polymer.html">
<link rel="import" href="chrome://resources/html/util.html">
<link rel="import" href="chrome://resources/polymer/v1_0/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-button/paper-button.html">

<dom-module id="supervised-user-create-confirm">
  <template>
    <style include="shared-styles iron-flex iron-flex-alignment">
      :host {
        align-self: center;
      }

      #container {
        color: var(--primary-text-color);
        line-height: 20px;
        width: var(--page-width);
      }

      #title-area {
        border-bottom: var(--user-manager-separator-line);
        font-size: 16px;
        padding-bottom: 16px;
      }

      #title-area iron-icon {
        --iron-icon-height: 20px;
        --iron-icon-width: 20px;
        color: var(--title-icon-color);
      }

      .content-area {
        padding-top: 32px;
        white-space: pre-wrap;
        word-wrap: break-word;
      }

      #actions {
        bottom: 16px;
        position: absolute;
        right: 16px;
      }

      :host-context([dir='rtl']) #actions {
        left: 16px;
        right: auto;
      }
    </style>
    <div id="container">
      <div id="title-area" class="horizontal justified layout">
        <span id="title">[[titleText_(profileInfo)]]</span>
        <iron-icon icon="user-manager:supervisor-account"></iron-icon>
      </div>
      <div class="content-area"
          inner-h-t-m-l="[[confirmationMessage_(profileInfo)]]">
      </div>
      <div id="actions">
        <paper-button id="ok" class="action secondary" on-tap="onOkTap_">
          $i18n{supervisedUserCreatedDone}
        </paper-button>
        <paper-button id="switchUser" class="action primary"
            on-tap="onSwitchUserTap_">
          [[switchUserText_(profileInfo)]]
        </paper-button>
      </div>
    </div>
  </template>
  <script src="supervised_user_create_confirm.js"></script>
</dom-module>
