<link rel="import" href="/shared_styles.html">
<link rel="import" href="chrome://resources/cr_elements/icons.html">
<link rel="import" href="chrome://resources/html/polymer.html">
<link rel="import" href="chrome://resources/polymer/v1_0/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-dialog-behavior/paper-dialog-behavior.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-dialog-behavior/paper-dialog-shared-styles.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-icon-button/paper-icon-button.html">

<dom-module id="user-manager-dialog">
  <template>
    <style include="shared-styles paper-dialog-shared-styles iron-flex iron-flex-alignment">
      :host {
        --paper-dialog: {
          border-radius: 2px;
          color: var(--primary-text-color);
          font-size: inherit;
          line-height: initial;
          width: 512px;
        };
      }

      :host ::content > *,
      :host > ::content > *:first-child,
      :host > ::content > *:last-child {
        /* Overrides paper-dialog-shared-styles. */
        margin: 0;
        padding: 0;
      }

      #title-bar {
        align-items: center;
        border-bottom: var(--user-manager-separator-line);
        min-height: 52px;
        @apply(--user-manager-dialog-title-bar);
      }

      #close {
        --paper-icon-button: {
          height: 40px;
          padding: 10px;
          width: 40px;
        };
        -webkit-margin-end: 6px;
        -webkit-margin-start: auto;
        flex-shrink: 0;
      }

      :host ::content .title {
        -webkit-margin-end: 10px;
        -webkit-margin-start: 16px;
        font-size: 16px;
      }

      :host ::content .body > * {
        padding: 0 16px;
      }

      :host ::content .body > .no-padding {
        padding: 0;
      }

      :host ::content .footer {
        margin-top: 20px;
        padding: 16px;
      }
    </style>
    <div id="title-bar" class="horizontal justified layout">
      <content select=".title"></content>
      <paper-icon-button icon="cr:close" id="close" dialog-dismiss>
      </paper-icon-button>
    </div>
    <content select=".body"></content>
    <content select=".footer"></content>
  </template>
  <script src="user_manager_dialog.js"></script>
</dom-module>
