<link rel="import" href="chrome://resources/html/polymer.html">
<link rel="import" href="/about_page/about_page.html">
<link rel="import" href="/advanced_page/advanced_page.html">
<link rel="import" href="/basic_page/basic_page.html">
<link rel="import" href="/settings_page/main_page_behavior.html">

<dom-module id="settings-main">
  <template>
      <style>
        #advancedToggle {
          align-items: center;
          display: flex;
          min-height: 32px;
          padding: 0 12px;  /* TODO(dschuyler): get real value. */
        }

        #pageContainer {
          box-sizing: border-box;
          overflow: auto;
          padding: 0 16px;
        }

        #toggleContainer {
          align-items: center;
          display: flex;
          justify-content: center;
          min-height: 80px;  /* TODO(dschuyler): get real value. */
        }
      </style>
    <content select="paper-icon-button"></content>
    <div id="pageContainer">
      <template is="dom-if" if="[[showBasicPage_]]">
        <settings-basic-page prefs="{{prefs}}" current-route="{{currentRoute}}">
        </settings-basic-page>
      </template>
      <template is="dom-if" if="[[showAdvancedToggle_]]">
        <div id="toggleContainer">
          <div id="advancedToggle" on-tap="toggleAdvancedPage_">
            $i18n{advancedPageTitle}
            <!-- TODO(dschuyler): menu icons (up arrow/down arrow) -->
          </div>
        </div>
      </template>
      <template is="dom-if" if="[[showAdvancedPage_]]">
        <settings-advanced-page prefs="{{prefs}}"
            current-route="{{currentRoute}}">
        </settings-advanced-page>
      </template>
      <template is="dom-if" if="[[showAboutPage_]]">
        <settings-about-page current-route="{{currentRoute}}">
        </settings-about-page>
      </template>
    </div>
  </template>
  <script src="settings_main.js"></script>
</dom-module>
