<link rel="import" href="chrome://resources/html/i18n_behavior.html">
<link rel="import" href="chrome://resources/html/polymer.html">
<link rel="import" href="chrome://resources/html/web_ui_listener_behavior.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-button/paper-button.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-spinner/paper-spinner.html">
<link rel="import" href="/i18n_setup.html">
<link rel="import" href="/people_page/easy_unlock_browser_proxy.html">
<link rel="import" href="/settings_dialog.html">
<link rel="import" href="/settings_shared_css.html">

<dom-module id="easy-unlock-turn-off-dialog">
  <template>
    <style include="settings-shared"></style>
    <settings-dialog id="dialog">
      <div class="title">[[getTitleText_(state_)]]</div>
      <div class="body">
        [[getDescriptionText_(state_)]]
      </div>
      <div class="button-container" hidden="[[isButtonBarHidden_(state_)]]">
        <paper-spinner active="[[isSpinnerActive_(state_)]]">
        </paper-spinner>
        <paper-button class="cancel-button" on-tap="onCancelTap_"
            hidden="[[isCancelButtonHidden_(state_)]]">
          $i18n{cancel}
        </paper-button>
        <paper-button id="turnOff" class="action-button" on-tap="onTurnOffTap_"
            disabled="[[!isTurnOffButtonEnabled_(state_)]]">
          [[getTurnOffButtonText_(state_)]]
        </paper-button>
      </div>
    </settings-dialog>
  </template>
  <script src="easy_unlock_turn_off_dialog.js"></script>
</dom-module>
