<link rel="import" href="chrome://resources/html/assert.html">
<link rel="import" href="chrome://resources/html/polymer.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-button/paper-button.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-input/paper-input.html">
<link rel="import" href="/settings_dialog.html">
<link rel="import" href="/settings_shared_css.html">

<dom-module id="settings-users-add-user-dialog">
  <template>
    <style include="settings-shared">
    </style>
    <settings-dialog id="dialog">
      <div class="title">$i18n{addUsers}</div>
      <div class="body">
        <paper-input id="addUserInput" label="$i18n{addUsersEmail}" autofocus
            on-input="validate_">
        </paper-input>
      </div>
      <div class="button-container">
        <paper-button class="cancel-button" on-tap="onCancelTap_"
            id="cancel">$i18n{cancel}</paper-button>
        <paper-button id="add" on-tap="addUser_" class="action-button" disabled>
          $i18n{add}
        </paper-button>
      </div>
    </settings-dialog>
  </template>
  <script src="users_add_user_dialog.js"></script>
</dom-module>
