<link rel="import" href="chrome://resources/html/polymer.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-item/paper-item.html">
<link rel="import" href="/icons.html">
<link rel="import" href="/settings_shared_css.html">
<link rel="import" href="/site_settings/constants.html">
<link rel="import" href="/site_settings/site_settings_behavior.html">
<link rel="import" href="/site_settings/site_settings_prefs_browser_proxy.html">

<dom-module id="settings-site-settings-page">
  <template>
    <style include="settings-shared">
    </style>
    <div class="settings-box first" category$="[[ALL_SITES]]"
        on-tap="onTapCategory">
      <iron-icon icon="settings:list"></iron-icon>
      <div class="middle">$i18n{siteSettingsCategoryAllSites}</div>
    </div>
    <div class="settings-box two-line"
        category$="[[ContentSettingsTypes.COOKIES]]" on-tap="onTapCategory">
      <iron-icon icon="[[computeIconForContentCategory(
          ContentSettingsTypes.COOKIES)]]"></iron-icon>
      <div class="middle">
        <div>
          [[computeTitleForContentCategory(ContentSettingsTypes.COOKIES)]]
        </div>
        <div id="cookies" class="secondary"></div>
      </div>
    </div>
    <div class="settings-box two-line"
        category$="[[ContentSettingsTypes.GEOLOCATION]]" on-tap="onTapCategory">
      <iron-icon icon="[[computeIconForContentCategory(
          ContentSettingsTypes.GEOLOCATION)]]" item-icon=""></iron-icon>
      <div class="middle">
        [[computeTitleForContentCategory(ContentSettingsTypes.GEOLOCATION)]]
        <div id="geolocation" class="secondary"></div>
      </div>
    </div>
    <div class="settings-box two-line"
        category$="[[ContentSettingsTypes.CAMERA]]" on-tap="onTapCategory">
      <iron-icon icon="[[computeIconForContentCategory(
          ContentSettingsTypes.CAMERA)]]" item-icon=""></iron-icon>
      <div class="middle">
        [[computeTitleForContentCategory(ContentSettingsTypes.CAMERA)]]
        <div id="camera" class="secondary"></div>
      </div>
    </div>
    <div class="settings-box two-line" category$="[[ContentSettingsTypes.MIC]]"
        on-tap="onTapCategory">
      <iron-icon icon="[[computeIconForContentCategory(
          ContentSettingsTypes.MIC)]]" item-icon=""></iron-icon>
      <div class="middle">
        [[computeTitleForContentCategory(ContentSettingsTypes.MIC)]]
        <div id="mic" class="secondary"></div>
      </div>
    </div>
    <div class="settings-box two-line"
        category$="[[ContentSettingsTypes.NOTIFICATIONS]]"
        on-tap="onTapCategory">
      <iron-icon icon="[[computeIconForContentCategory(
          ContentSettingsTypes.NOTIFICATIONS)]]" item-icon=""></iron-icon>
      <div class="middle">
        [[computeTitleForContentCategory(ContentSettingsTypes.NOTIFICATIONS)]]
        <div id="notifications" class="secondary"></div>
      </div>
    </div>
    <div class="settings-box two-line"
        category$="[[ContentSettingsTypes.JAVASCRIPT]]"
        on-tap="onTapCategory">
      <iron-icon icon="[[computeIconForContentCategory(
          ContentSettingsTypes.JAVASCRIPT)]]" item-icon=""></iron-icon>
      <div class="middle">
        [[computeTitleForContentCategory(ContentSettingsTypes.JAVASCRIPT)]]
        <div id="javascript" class="secondary"></div>
      </div>
    </div>
    <div class="settings-box two-line"
        category$="[[ContentSettingsTypes.PLUGINS]]"
        on-tap="onTapCategory">
      <iron-icon icon="[[computeIconForContentCategory(
          ContentSettingsTypes.PLUGINS)]]" item-icon=""></iron-icon>
      <div class="middle">
        [[computeTitleForContentCategory(ContentSettingsTypes.PLUGINS)]]
        <div id="plugins" class="secondary"></div>
      </div>
    </div>
    <div class="settings-box two-line"
        category$="[[ContentSettingsTypes.IMAGES]]" on-tap="onTapCategory">
      <iron-icon icon="[[computeIconForContentCategory(
          ContentSettingsTypes.IMAGES)]]" item-icon=""></iron-icon>
      <div class="middle">
        [[computeTitleForContentCategory(ContentSettingsTypes.IMAGES)]]
        <div id="images" class="secondary"></div>
      </div>
    </div>
    <div class="settings-box two-line"
        category$="[[ContentSettingsTypes.POPUPS]]" on-tap="onTapCategory">
      <iron-icon icon="[[computeIconForContentCategory(
          ContentSettingsTypes.POPUPS)]]" item-icon=""></iron-icon>
      <div class="middle">
        [[computeTitleForContentCategory(ContentSettingsTypes.POPUPS)]]
        <div id="popups" class="secondary"></div>
      </div>
    </div>
    <div class="settings-box two-line"
        category$="[[ContentSettingsTypes.BACKGROUND_SYNC]]"
        on-tap="onTapCategory">
      <iron-icon icon="[[computeIconForContentCategory(
          ContentSettingsTypes.BACKGROUND_SYNC)]]" item-icon=""></iron-icon>
      <div class="middle">
        [[computeTitleForContentCategory(
            ContentSettingsTypes.BACKGROUND_SYNC)]]
        <div id="backgroundSync" class="secondary"></div>
      </div>
    </div>
    <div class="settings-box two-line"
        category$="[[ContentSettingsTypes.KEYGEN]]"
        on-tap="onTapCategory">
      <iron-icon icon="[[computeIconForContentCategory(
          ContentSettingsTypes.KEYGEN)]]" item-icon=""></iron-icon>
      <div class="middle">
        [[computeTitleForContentCategory(
            ContentSettingsTypes.KEYGEN)]]
        <div id="keygen" class="secondary"></div>
      </div>
    </div>
    <div class="settings-box two-line"
        category$="[[ContentSettingsTypes.AUTOMATIC_DOWNLOADS]]"
        on-tap="onTapCategory">
      <iron-icon icon="[[computeIconForContentCategory(
          ContentSettingsTypes.AUTOMATIC_DOWNLOADS)]]" item-icon=""></iron-icon>
      <div class="middle">
        [[computeTitleForContentCategory(
            ContentSettingsTypes.AUTOMATIC_DOWNLOADS)]]
        <div id="automaticDownloads" class="secondary"></div>
      </div>
    </div>
    <div class="settings-box two-line"
        category$="[[ContentSettingsTypes.UNSANDBOXED_PLUGINS]]"
        on-tap="onTapCategory">
      <iron-icon icon="[[computeIconForContentCategory(
          ContentSettingsTypes.UNSANDBOXED_PLUGINS)]]" item-icon=""></iron-icon>
      <div class="middle">
        [[computeTitleForContentCategory(
            ContentSettingsTypes.UNSANDBOXED_PLUGINS)]]
        <div id="unsandboxedPlugins" class="secondary"></div>
      </div>
    </div>
  </template>
  <script src="site_settings_page.js"></script>
</dom-module>
