 <div class="content-area">
  <div id="about-container">
    <img id="product-logo" srcset="chrome://theme/current-channel-logo@1x 1x,
                                   chrome://theme/current-channel-logo@2x 2x"
        alt="">
    <div id="product-description">
      <h2 i18n-content="aboutProductTitle"></h2>
      <span i18n-content="aboutProductDescription"></span>
    </div>
  </div>
  <div id="help-container">
    <button id="get-help" i18n-content="getHelpWithChrome"></button>
<if expr="_google_chrome">
    <button id="report-issue" i18n-content="reportAnIssue"></button>
</if>
  </div>
  <div id="version-container">
    <div i18n-content="browserVersion" dir="ltr"></div>
<if expr="chromeos">
    <div>
      <span i18n-content="platform"></span>&nbsp;<span id="os-version"></span>
    </div>
    <div>
      <span i18n-content="arcVersion">
      </span>&nbsp;<span id="arc-version"></span>
    </div>
    <div>
      <span i18n-content="firmware"></span>&nbsp;<span id="firmware"></span>
    </div>
</if>
<if expr="chromeos or _google_chrome or is_linux">
    <div id="update-status-container" hidden>
      <div id="update-status-icon" class="help-page-icon up-to-date"></div>
      <div id="update-status-message-container">
        <div id="update-status-message" i18n-content="updateCheckStarted">
        </div>
<if expr="is_macosx or is_win">
        <div id="update-obsolete-system-container" hidden>
          <span id="update-obsolete-system"
              i18n-content="updateObsoleteSystem"></span>
          <a i18n-values="href:updateObsoleteSystemURL"
              i18n-content="learnMore" target="_blank"></a>
        </div>
</if>
        <div id="allowed-connection-types-message" hidden></div>
      </div>
    </div>
    <div id="update-buttons-container">
      <div id="update-percentage" hidden></div>
<if expr="is_macosx">
      <button id="promote" i18n-content="promote" hidden></button>
</if>
      <button id="relaunch" i18n-content="relaunch" hidden></button>
<if expr="chromeos">
      <button id="relaunch-and-powerwash"
          i18n-content="relaunchAndPowerwash" hidden>
      </button>
      <button id="request-update" i18n-content="updateButton">
      </button>
      <div id="controlled-feature-icon" class="help-page-icon" hidden></div>
</if>
    </div>
</if>
<if expr="chromeos">
    <div id="more-info-container">
      <section id="channel-changer-container" hidden>
        <h3 i18n-content="channel"></h3>
        <select id="channel-changer">
          <option value="stable-channel" i18n-content="stable"></option>
          <option value="beta-channel" i18n-content="beta"></option>
          <option value="dev-channel" i18n-content="dev"></option>
        </select>
        <div id="channel-change-confirmation" hidden></div>
      </section>
      <section id="channel-change-page-container" hidden>
        <h3 i18n-content="channel"></h3>
        <div id="current-channel"></div>
        <div>
          <span id="dev-channel-disclaimer" i18n-content="devChannelDisclaimer"
              hidden></span>
        </div>
        <button id="change-channel"
            i18n-content="channelChangeButton" disabled>
        </button>
        <div id="channel-change-disallowed-icon"
            class="help-page-icon" hidden>
        </div>
      </section>
      <section>
        <h3 i18n-content="webkit"></h3>
        <div i18n-content="webkitVersion" dir="ltr"></div>
      </section>
      <section>
        <h3 i18n-content="jsEngine" dir="ltr"></h3>
        <div i18n-content="jsEngineVersion"></div>
      </section>
      <section>
        <h3 i18n-content="userAgent"></h3>
        <div i18n-content="userAgentInfo" dir="ltr"></div>
      </section>
      <section>
        <h3 i18n-content="commandLine"></h3>
        <div i18n-content="commandLineInfo" dir="ltr"></div>
      </section>
      <section id="build-date-container" class="empty">
        <h3 i18n-content="buildDate"></h3>
        <div id="build-date"></div>
      </section>
    </div>
    <a is="action-link" id="more-info-expander" i18n-content="showMoreInfo"></a>
</if>
  </div>
  <div id="product-container">
    <div i18n-content="productName"></div>
    <div i18n-content="productCopyright"></div>
    <div id="product-license"></div>
<if expr="chromeos">
    <div id="product-os-license"></div>
</if>
<if expr="_google_chrome">
    <div id="product-tos"></div>
</if>
  </div>
<if expr="chromeos">
  <div id="regulatory-label-container" hidden>
    <img id="regulatory-label">
  </div>
</if>
</div>
