<link rel="import" href="chrome://resources/html/assert.html">
<link rel="import" href="chrome://resources/html/cr.html">
<link rel="import" href="chrome://resources/html/polymer.html">
<link rel="import" href="chrome://resources/polymer/v1_0/iron-collapse/iron-collapse.html">
<link rel="import" href="chrome://resources/polymer/v1_0/iron-icon/iron-icon.html">
<link rel="import" href="chrome://resources/polymer/v1_0/neon-animation/neon-animatable.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-icon-button/paper-icon-button.html">
<link rel="import" href="chrome://resources/cr_elements/cr_expand_button/cr_expand_button.html">
<link rel="import" href="chrome://resources/cr_elements/icons.html">
<link rel="import" href="/icons.html">
<link rel="import" href="/settings_page/settings_animated_pages.html">
<link rel="import" href="/settings_page/settings_subpage.html">
<link rel="import" href="/settings_shared_css.html">
<link rel="import" href="language_detail_page.html">
<link rel="import" href="languages.html">
<link rel="import" href="manage_languages_page.html">

<if expr="not is_macosx">
<link rel="import" href="edit_dictionary_page.html">
</if>

<if expr="chromeos">
<link rel="import" href="manage_input_methods_page.html">
</if>

<dom-module id="settings-languages-page">
  <template>
    <style include="settings-shared"></style>
    <settings-languages languages="{{languages}}"></settings-languages>
    <settings-animated-pages id="pages" current-route="{{currentRoute}}"
        section="languages">
      <neon-animatable id="main">
        <div class="settings-box first two-line">
          <div class="start">
            <div>$i18n{languagesListTitle}</div>
            <div class="secondary">
              [[getProspectiveUILanguageName_(
                    languages, prefs.intl.app_locale.value)]]
            </div>
          </div>
          <cr-expand-button expanded="{{languagesOpened_}}">
          </cr-expand-button>
        </div>
        <iron-collapse id="languagesCollapse" opened="[[languagesOpened_]]">
          <div class="list-frame vertical-list">
            <template is="dom-repeat" items="[[languages.enabled]]">
              <div class$="list-item [[getLanguageItemClass_(
                      item.language.code, prefs.intl.app_locale.value)]]"
                  on-tap="onLanguageTap_">
<if expr="not chromeos and not is_win">
                <div class="start" title="[[item.language.nativeDisplayName]]">
                  [[item.language.displayName]]
                </div>
</if>
<if expr="chromeos or is_win">
                <div title="[[item.language.nativeDisplayName]]">
                  [[item.language.displayName]]
                </div>
                <div class="middle">
                  <iron-icon icon="settings:done"
                      hidden$="[[!isProspectiveUILanguage_(
                          item.language.code, prefs.intl.app_locale.value)]]">
                  </iron-icon>
                </div>
</if>
                <paper-icon-button icon="cr:settings"
                    on-tap="onShowLanguageDetailTap_"></paper-icon-button>
              </div>
            </template>
            <div class="list-item list-button" on-tap="onManageLanguagesTap_">
              $i18n{manageLanguages}
            </div>
          </div>
        </iron-collapse>
<if expr="chromeos">
        <div class="settings-box two-line">
          <div class="start">
            <div>$i18n{inputMethodsListTitle}</div>
            <div class="secondary">
              [[getInputMethodName_(languages.inputMethods.currentId)]]
            </div>
          </div>
          <cr-expand-button expanded="{{inputMethodsOpened_}}">
          </cr-expand-button>
        </div>
        <iron-collapse id="inputMethodsCollapse"
            opened="[[inputMethodsOpened_]]">
          <div class="list-frame vertical-list">
            <template is="dom-repeat"
                items="[[languages.inputMethods.enabled]]">
              <div class$="list-item [[getInputMethodItemClass_(
                      item.id, languages.inputMethods.currentId)]]"
                  on-tap="onInputMethodTap_">
                <div>[[item.displayName]]</div>
                <div class="middle">
                  <iron-icon icon="settings:done"
                      hidden$="[[!isCurrentInputMethod_(
                          item.id, languages.inputMethods.currentId)]]">
                  </iron-icon>
                </div>
                <paper-icon-button icon="cr:settings"
                    on-tap="onInputMethodOptionsTap_"
                    hidden$="[[!item.hasOptionsPage]]">
                </paper-icon-button>
              </div>
            </template>
            <div class="list-item list-button"
                on-tap="onManageInputMethodsTap_">
              $i18n{manageInputMethods}
            </div>
          </div>
        </iron-collapse>
</if>
<if expr="not is_macosx">
        <div class="settings-box two-line">
          <div class="start">
            <div>$i18n{spellCheckListTitle}</div>
            <div class="secondary">[[spellCheckSecondary_]]</div>
          </div>
          <cr-expand-button expanded="{{spellCheckOpened_}}">
          </cr-expand-button>
        </div>
        <iron-collapse id="spellCheckCollapse" opened="[[spellCheckOpened_]]">
          <div class="list-frame vertical-list">
            <template is="dom-repeat"
                items="[[spellCheckLanguages_(languages.enabled.*)]]">
              <div class="list-item">
                <div class="start">
                  <paper-checkbox
                      checked="[[item.spellCheckEnabled]]"
                      on-change="onSpellCheckChange_">
                    [[item.language.displayName]]
                  </paper-checkbox>
                </div>
                <paper-icon-button icon="cr:settings"
                    on-tap="onShowLanguageDetailTap_"></paper-icon-button>
              </div>
            </template>
            <div class="list-item list-button" on-tap="onEditDictionaryTap_">
              $i18n{manageSpellCheck}
            </div>
          </div>
        </iron-collapse>
</if>
      </neon-animatable>
      <template is="dom-if" name="manage-languages">
        <settings-subpage page-title="$i18n{manageLanguagesPageTitle}">
          <settings-manage-languages-page
              prefs="{{prefs}}"></settings-manage-languages-page>
        </settings-subpage>
      </template>
      <template is="dom-if" name="language-detail">
        <settings-subpage
            page-title="[[detailLanguage_.language.displayName]]">
          <settings-language-detail-page id="languageDetailPage"
              prefs="{{prefs}}" detail="[[detailLanguage_]]">
          </settings-language-detail-page>
        </settings-subpage>
      </template>
<if expr="chromeos">
      <template is="dom-if" name="manage-input-methods">
        <settings-subpage page-title="$i18n{manageInputMethodsPageTitle}">
          <settings-manage-input-methods-page>
          </settings-manage-input-methods-page>
        </settings-subpage>
      </template>
</if>
<if expr="not is_macosx">
      <template is="dom-if" name="edit-dictionary">
        <settings-subpage page-title="$i18n{editDictionaryPageTitle}">
          <settings-edit-dictionary-page></settings-edit-dictionary-page>
        </settings-subpage>
      </template>
</if>
    </settings-animated-pages>
  </template>
  <script src="languages_page.js"></script>
</dom-module>
