<link rel="import" href="chrome://resources/html/polymer.html">
<link rel="import" href="chrome://resources/polymer/v1_0/iron-flex-layout/classes/iron-flex-layout.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-button/paper-button.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-checkbox/paper-checkbox.html">
<link rel="import" href="/reset_page/reset_browser_proxy.html">
<link rel="import" href="/settings_dialog.html">
<link rel="import" href="/settings_shared_css.html">

<dom-module id="settings-powerwash-dialog">
  <template>
    <style include="settings-shared">
      a {
        color: rgb(66, 133, 244);
        text-decoration: none;
      }
    </style>
    <settings-dialog id="dialog">
      <div class="title">$i18n{powerwashDialogTitle}</div>
      <div class="body">
        <span>
          $i18n{powerwashDialogExplanation}
          <a href="$i18nRaw{powerwashLearnMoreUrl}" target="_blank">
            $i18n{learnMore}
          </a>
        </span>
      </div>
      <div class="button-container">
        <paper-button class="cancel-button" on-tap="onCancelTap_"
            id="cancel">$i18n{cancel}</paper-button>
        <paper-button class="action-button" id="powerwash"
            on-tap="onRestartTap_">$i18n{powerwashDialogButton}</paper-button>
      </div>
    </settings-dialog>
  </template>
  <script src="powerwash_dialog.js"></script>
</dom-module>
