<link rel="import" href="chrome://resources/html/polymer.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-button/paper-button.html">
<if expr="chromeos">
<link rel="import" href="/controls/settings_checkbox.html">
</if>
<link rel="import" href="/settings_shared_css.html">

<dom-module id="settings-a11y-page">
  <template>
    <style include="settings-shared"></style>
<if expr="chromeos">
    <div class="settings-box row first">
      <span>
        $i18n{a11yExplanation}
        <a href="$i18nRaw{a11yLearnMoreUrl}" target="_blank">
          $i18n{learnMore}
        </a>
      </span>
    </div>

    <div class="settings-box block">
      <settings-checkbox label="$i18n{optionsInMenuLabel}"
          pref="{{prefs.settings.a11y.enable_menu}}">
      </settings-checkbox>
      <settings-checkbox label="$i18n{largeMouseCursorLabel}"
          pref="{{prefs.settings.a11y.large_cursor_enabled}}">
      </settings-checkbox>
      <settings-checkbox label="$i18n{highContrastLabel}"
          pref="{{prefs.settings.a11y.high_contrast_enabled}}">
      </settings-checkbox>
      <settings-checkbox
          pref="{{prefs.settings.a11y.sticky_keys_enabled}}"
          label="$i18n{stickyKeysLabel}">
      </settings-checkbox>
      <settings-checkbox pref="{{prefs.settings.accessibility}}"
          label="$i18n{chromeVoxLabel}">
      </settings-checkbox>
      <settings-checkbox label="$i18n{screenMagnifierLabel}"
          pref="{{prefs.settings.a11y.screen_magnifier}}">
      </settings-checkbox>
      <settings-checkbox label="$i18n{tapDraggingLabel}"
          pref="{{prefs.settings.touchpad.enable_tap_dragging}}">
      </settings-checkbox>
      <settings-checkbox label="$i18n{clickOnStopLabel}"
          pref="{{prefs.settings.a11y.autoclick}}">
      </settings-checkbox>

      <div class="list-item settings-checkbox-spacer">
        <div>$i18n{delayBeforeClickLabel}</div>
        <select value="{{prefs.settings.a11y.autoclick_delay_ms::change}}">
          <option value="200">$i18n{delayBeforeClickExtremelyShort}</option>
          <option value="400">$i18n{delayBeforeClickVeryShort}</option>
          <option value="600">$i18n{delayBeforeClickShort}</option>
          <option value="800">$i18n{delayBeforeClickLong}</option>
          <option value="1000">$i18n{delayBeforeClickVeryLong}</option>
        </select>
      </div>

      <settings-checkbox pref="{{prefs.settings.a11y.virtual_keyboard}}"
          label="$i18n{onScreenKeyboardLabel}">
      </settings-checkbox>
      <settings-checkbox pref="{{prefs.settings.a11y.mono_audio}}"
          label="$i18n{monoAudioLabel}">
      </settings-checkbox>
      <template is="dom-if" if="[[showExperimentalFeatures_]]">
        <settings-checkbox pref="{{prefs.settings.a11y.caret_highlight}}"
            label="$i18n{caretHighlightLabel}">
        </settings-checkbox>
        <settings-checkbox pref="{{prefs.settings.a11y.cursor_highlight}}"
            label="$i18n{cursorHighlightLabel}">
        </settings-checkbox>
        <settings-checkbox pref="{{prefs.settings.a11y.focus_highlight}}"
            label="$i18n{focusHighlightLabel}">
        </settings-checkbox>
        <settings-checkbox pref="{{prefs.settings.a11y.select_to_speak}}"
            label="$i18n{selectToSpeakLabel}">
        </settings-checkbox>
        <settings-checkbox pref="{{prefs.settings.a11y.switch_access}}"
            label="$i18n{switchAccessLabel}">
        </settings-checkbox>
      </template>
    </div>
</if>

<if expr="chromeos">
    <div class="settings-box">
</if>
<if expr="not chromeos">
    <div class="settings-box first">
</if>
      <paper-button class="primary-button" on-tap="onMoreFeaturesTap_">
        $i18n{moreFeaturesLink}
      </paper-button>
    </div>
  </template>
  <script src="a11y_page.js"></script>
</dom-module>
