<link rel="import" href="chrome://resources/html/polymer.html">
<link rel="import" href="chrome://resources/html/web_ui_listener_behavior.html">
<link rel="import" href="/settings_shared_css.html">
<link rel="import" href="/on_startup_page/startup_url_dialog.html">
<link rel="import" href="/on_startup_page/startup_url_entry.html">
<link rel="import" href="/on_startup_page/startup_urls_page_browser_proxy.html">

<dom-module id="settings-startup-urls-page">
  <template>
    <style include="settings-shared">
      paper-radio-button {
        display: block;
      }
    </style>
    <div class="list-frame vertical-list">
      <template is="dom-repeat" items="[[startupPages_]]">
        <settings-startup-url-entry model="[[item]]">
        </settings-startup-url-entry>
      </template>
      <div class="list-item list-button" id="addPage" on-tap="onAddPageTap_">
        $i18n{onStartupAddNewPage}
      </div>
      <div class="list-item list-button" id="useCurrentPages"
          on-tap="onUseCurrentPagesTap_">$i18n{onStartupUseCurrent}</div>
    </div>
    <template is="dom-if" if="[[showStartupUrlDialog_]]" restamp>
      <settings-startup-url-dialog model="[[startupUrlDialogModel_]]">
      </settings-startup-url-dialog>
    </template>
  </template>
  <script src="startup_urls_page.js"></script>
</dom-module>
