<link rel="import" href="chrome://resources/cr_elements/icons.html">
<link rel="import" href="chrome://resources/html/polymer.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-styles/shadow.html">
<link rel="import" href="chrome://resources/polymer/v1_0/iron-collapse/iron-collapse.html">
<link rel="import" href="chrome://resources/polymer/v1_0/iron-icon/iron-icon.html">
<link rel="import" href="chrome://resources/polymer/v1_0/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="chrome://resources/html/icon.html">
<link rel="import" href="chrome://history/shared_style.html">

<dom-module id="history-synced-device-card">
  <template>
    <style include="shared-style">
      :host {
        @apply(--layout-center);
        @apply(--layout-vertical);
        padding: 0 var(--card-padding-side) var(--card-padding-between);
      }

      #card-heading {
        @apply(--layout-justified);
        cursor: pointer;
      }

      #icon {
        -webkit-margin-start: 20px;
      }

      #tab-item-list {
        padding: 8px 0;
      }

      #open-tabs {
        -webkit-margin-start: 20px;
        color: rgb(102, 136, 238);
        cursor: pointer;
      }

      #open-tabs:hover {
        text-decoration: underline;
      }

      #last-update-time {
        color: #969696;
      }

      #dropdown-indicator {
        -webkit-margin-end: 12px;
        height: 20px;
        width: 20px;
      }

      #collapse {
        overflow: hidden;
      }

      #history-item-container {
        background: #fff;
        border: 1px solid var(--card-border-color);
        border-bottom-width: 2px;
        max-width: var(--card-max-width);
        min-width: var(--card-min-width);
        width: 100%;
      }

      #item-container {
        @apply(--layout-center);
        @apply(--layout-horizontal);
        min-height: 40px;
      }

      #window-separator {
        background-color: var(--card-border-color);
        height: 1px;
        margin: 5px auto;
        width: 80%;
      }
    </style>
    <div id="history-item-container">
      <div class="card-title" id="card-heading" aria-expanded$="[[cardOpen_]]"
          aria-controls="collapse" on-tap="toggleTabCard">
        <div>
          [[device]]
          <span id="last-update-time">[[lastUpdateTime]]</span>
        </div>
        <iron-icon icon="cr:expand-less" id="dropdown-indicator"></iron-icon>
      </div>

      <iron-collapse opened="{{cardOpen_}}" id="collapse">
        <div id="tab-item-list">
          <template is="dom-repeat" items="[[tabs]]" as="tab" id="tab-list">
            <div id="item-container">
              <div id="icon" class="website-icon"></div>
              <a href="[[tab.url]]" class="website-title" title="[[tab.title]]">
                [[tab.title]]
              </a>
            </div>
            <div id="window-separator"
                hidden$="[[!isWindowSeparatorIndex_(index, separatorIndexes)]]">
            </div>
          </template>
          <div class="item-container">
            <p on-tap="openAllTabs_" id="open-tabs">$i18n{openAll}</p>
          </div>
        </div>
      </iron-collapse>
    </div>
  </template>
  <script src="chrome://history/synced_device_card.js"></script>
</dom-module>
