<link rel="import" href="chrome://resources/html/action_link.html">
<link rel="import" href="chrome://resources/html/cr.html">
<link rel="import" href="chrome://resources/html/polymer.html">
<link rel="import" href="chrome://resources/polymer/v1_0/iron-icon/iron-icon.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-button/paper-button.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-icon-button/paper-icon-button-light.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-progress/paper-progress.html">
<link rel="import" href="chrome://downloads/action_service.html">
<link rel="import" href="chrome://downloads/constants.html">
<link rel="import" href="chrome://downloads/i18n_setup.html">
<link rel="import" href="chrome://downloads/icons.html">

<dom-module id="downloads-item">
  <template>
    <h3 id="date">[[computeDate_(data.hideDate, data.since_string, data.date_string)]]</h3>

    <div id="content" on-dragstart="onDragStart_"
        class$="[[computeClass_(isActive_, isDangerous_, showProgress_)]]">
      <div id="file-icon-wrapper" class="icon-wrapper">
        <img class="icon" id="file-icon" alt="" hidden="[[isDangerous_]]">
        <iron-icon id="danger-icon"
            icon$="[[computeDangerIcon_(isDangerous_, data.danger_type)]]"
            hidden="[[!isDangerous_]]"></iron-icon>
      </div>

      <div id="details">
        <div id="title-area"><!--
          Can't have any line breaks.
          --><a is="action-link" id="file-link" href="[[data.url]]"
              on-tap="onFileLinkTap_"
              hidden="[[!completelyOnDisk_]]">[[data.file_name]]</a><!--
          Before #name.
          --><span id="name"
              hidden="[[completelyOnDisk_]]">[[data.file_name]]</span>
          <span id="tag">[[computeTag_(data.state, data.last_reason_text, data.file_externally_removed)]]</span>
        </div>

        <a id="url" target="_blank" href="[[data.url]]">[[data.url]]</a>

        <div id="description">[[computeDescription_(data.state, data.danger_type, data.file_name, data.progress_status_text)]]</div>

        <template is="dom-if" if="[[showProgress_]]">
          <paper-progress id="progress"
              indeterminate="[[isIndeterminate_(data.percent)]]"
              value="[[data.percent]]"></paper-progress>
        </template>

        <div id="safe" class="controls" hidden="[[isDangerous_]]">
          <a is="action-link" id="show" on-tap="onShowTap_"
              hidden="[[!completelyOnDisk_]]">$i18n{controlShowInFolder}</a>
          <template is="dom-if" if="[[data.retry]]">
            <paper-button id="retry" on-tap="onRetryTap_">
              $i18n{controlRetry}
            </paper-button>
          </template>
          <template is="dom-if" if="[[isInProgress_]]">
            <paper-button id="pause" on-tap="onPauseTap_">
              $i18n{controlPause}
            </paper-button>
          </template>
          <template is="dom-if" if="[[data.resume]]">
            <paper-button id="resume" on-tap="onResumeTap_">
              $i18n{controlResume}
            </paper-button>
          </template>
          <template is="dom-if" if="[[showCancel_]]">
            <paper-button id="cancel" on-tap="onCancelTap_">
              $i18n{controlCancel}
            </paper-button>
          </template>
          <span id="controlled-by"><!-- Text populated dynamically. --></span>
        </div>

        <template is="dom-if" if="[[isDangerous_]]">
          <div id="dangerous" class="controls">
            <!-- Dangerous file types (e.g. .exe, .jar). -->
            <template is="dom-if" if="[[!isMalware_]]">
              <paper-button id="discard" on-tap="onDiscardDangerousTap_"
                  class="discard">$i18n{dangerDiscard}</paper-button>
              <paper-button id="save" on-tap="onSaveDangerousTap_"
                  class="keep">$i18n{dangerSave}</paper-button>
            </template>

            <!-- Things that safe browsing has determined to be dangerous. -->
            <template is="dom-if" if="[[isMalware_]]">
              <paper-button id="danger-remove" on-tap="onDiscardDangerousTap_"
                  class="discard">$i18n{controlRemoveFromList}</paper-button>
              <paper-button id="restore" on-tap="onSaveDangerousTap_"
                  class="keep">$i18n{dangerRestore}</paper-button>
            </template>
          </div>
        </template>
      </div>

      <div id="remove-wrapper" class="icon-wrapper">
        <button is="paper-icon-button-light" id="remove"
            title="$i18n{controlRemoveFromList}"
            style$="[[computeRemoveStyle_(isDangerous_, showCancel_)]]"
            on-tap="onRemoveTap_">&#x2715;</button>
      </div>

      <div id="incognito" title="$i18n{inIncognito}" hidden="[[!data.otr]]">
      </div>
    </div>

  </template>
  <link rel="import" type="css" href="chrome://resources/css/action_link.css">
  <link rel="import" type="css" href="chrome://downloads/shared_style.css">
  <link rel="import" type="css" href="chrome://downloads/item.css">
  <script src="chrome://downloads/item.js"></script>
</dom-module>
