<link rel="import" href="chrome://resources/cr_elements/icons.html">
<link rel="import" href="chrome://resources/html/polymer.html">
<link rel="import" href="chrome://resources/html/web_ui_listener_behavior.html">
<link rel="import" href="chrome://resources/polymer/v1_0/iron-icon/iron-icon.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-button/paper-button.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-icon-button/paper-icon-button.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-menu/paper-menu.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-menu/paper-submenu.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-menu-button/paper-menu-button.html">
<link rel="import" href="/i18n_setup.html">
<link rel="import" href="/icons.html">
<link rel="import" href="/settings_shared_css.html">
<link rel="import" href="/site_settings/add_site_dialog.html">
<link rel="import" href="/site_settings/constants.html">
<link rel="import" href="/site_settings/site_settings_behavior.html">
<link rel="import" href="/site_settings/site_settings_prefs_browser_proxy.html">

<dom-module id="settings-site-list">
  <template>
    <style include="settings-shared">
      paper-menu-button {
        left: 8px;
        margin: 0;
        padding: 0;
        right: 8px;
      }

      .button-container {
        -webkit-margin-start: -4px;
      }

      .no-upper {
        text-transform: none;
      }
    </style>
    <paper-submenu id="category" hidden
        on-paper-submenu-open="onToggle_" on-paper-submenu-close="onToggle_">
      <div class="menu-trigger settings-box" hidden$="[[allSites]]">
        <div class="flex" id="header">
          [[computeSiteListHeader_(sites, categoryEnabled)]]
        </div>
        <iron-icon id="icon" icon="cr:expand-more"></iron-icon>
      </div>

      <div class="list-frame menu-content vertical-list" id="listContainer">
        <template is="dom-repeat" items="[[sites]]">
          <div class="list-item underscore">
            <div class="favicon-image" style$="[[computeSiteIcon(item)]]"
                on-tap="onOriginTap_"></div>
            <div class="middle" on-tap="onOriginTap_">
              <div>[[item.originForDisplay]]</div>
              <div class="secondary">[[item.embeddingOriginForDisplay]]</div>
            </div>
            <paper-menu-button hidden$="[[allSites]]">
              <paper-icon-button icon="cr:more-vert"
                  class="dropdown-trigger">
              </paper-icon-button>
              <paper-menu id="actionMenu" class="dropdown-content"
                  on-iron-activate="onActionMenuIronActivate_">
                <paper-item value="[[actions_.ALLOW]]"
                    hidden="[[!showAllowAction_]]">
                  [[i18n_.allowAction]]
                </paper-item>
                <paper-item value="[[actions_.BLOCK]]"
                    hidden="[[!showBlockAction_]]">
                  [[i18n_.blockAction]]
                </paper-item>
                <paper-item value="[[actions_.RESET]]">
                  [[i18n_.resetAction]]
                </paper-item>
              </paper-menu>
            </paper-menu-button>
          </div>
        </template>

        <div class="button-container">
          <paper-button on-tap="onAddSiteTap_" class="primary-button no-upper">
            $i18n{addSiteLink}
          </paper-button>
        </div>
      </div>
    </paper-submenu>
  </template>
  <script src="site_list.js"></script>
</dom-module>
