<link rel="import" href="chrome://resources/html/polymer.html">
<link rel="import" href="chrome://resources/polymer/v1_0/iron-flex-layout/classes/iron-flex-layout.html">
<link rel="import" href="chrome://resources/polymer/v1_0/neon-animation/neon-animatable.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-button/paper-button.html">
<link rel="import" href="/clear_browsing_data_dialog/clear_browsing_data_dialog.html">
<link rel="import" href="/controls/settings_checkbox.html">
<link rel="import" href="/settings_page/settings_animated_pages.html">
<link rel="import" href="/settings_page/settings_subpage.html">
<link rel="import" href="/settings_shared_css.html">
<link rel="import" href="/site_settings/all_sites.html">
<link rel="import" href="/site_settings/constants.html">
<link rel="import" href="/site_settings/media_picker.html">
<link rel="import" href="/site_settings_page/site_settings_page.html">

<if expr="use_nss_certs">
<link rel="import" href="/certificate_manager_page/certificate_manager_page.html">
</if>
<if expr="is_win or is_macosx">
<link rel="import" href="/privacy_page/privacy_page_browser_proxy.html">
</if>

<dom-module id="settings-privacy-page">
  <template>
    <style include="settings-shared"></style>
    <template is="dom-if" if="[[showClearBrowsingDataDialog_]]" restamp>
      <settings-clear-browsing-data-dialog prefs="{{prefs}}"
          on-iron-overlay-closed="onIronOverlayClosed_">
      </settings-clear-browsing-data-dialog>
    </template>
    <settings-animated-pages id="pages" current-route="{{currentRoute}}"
        section="privacy">
      <neon-animatable id="main">
        <div class="settings-box block first">
          <p class="privacy-explanation">
            $i18nRaw{improveBrowsingExperience}
          </p>
          <settings-checkbox
              pref="{{prefs.alternate_error_pages.enabled}}"
              label="$i18n{linkDoctorPref}">
          </settings-checkbox>
          <settings-checkbox
              pref="{{prefs.search.suggest_enabled}}"
              label="$i18n{searchSuggestPref}">
          </settings-checkbox>
          <settings-checkbox
              pref="{{prefs.net.network_prediction_options}}"
              label="$i18n{networkPredictionEnabled}">
          </settings-checkbox>
          <settings-checkbox
              pref="{{prefs.safebrowsing.extended_reporting_enabled}}"
              label="$i18n{safeBrowsingEnableExtendedReporting}">
          </settings-checkbox>
          <settings-checkbox pref="{{prefs.safebrowsing.enabled}}"
              label="$i18n{safeBrowsingEnableProtection}">
          </settings-checkbox>
<if expr="_google_chrome">
          <settings-checkbox
              pref="{{prefs.spellcheck.use_spelling_service}}"
              label="$i18n{spellingPref}">
          </settings-checkbox>
<if expr="chromeos">
        <settings-checkbox
              pref="{{prefs.cros.metrics.reportingEnabled}}"
              label="$i18n{enableLogging}">
          </settings-checkbox>
</if>
          <!-- TODO(jlklein): Add non-chromeos metrics box. -->
</if>
          <settings-checkbox pref="{{prefs.enable_do_not_track}}"
              label="$i18n{doNotTrack}">
          </settings-checkbox>
<if expr="chromeos">
          <settings-checkbox
              pref="{{prefs.cros.device.attestation_for_content_protection_enabled}}"
              label="$i18n{enableContentProtectionAttestation}">
          </settings-checkbox>
          <settings-checkbox
              pref="{{prefs.settings.internet.wake_on_wifi_darkconnect}}"
              label="$i18n{wakeOnWifi}">
          </settings-checkbox>
</if>
        </div>
<if expr="use_nss_certs or is_win or is_macosx">
        <div id="manageCertificates" class="settings-box two-line"
            on-tap="onManageCertificatesTap_">
          <div class="start">
            <div>$i18n{manageCertificates}</div>
            <div class="secondary">$i18n{manageCertificatesDescription}</div>
          </div>
        </div>
</if>
        <div class="settings-box two-line" on-tap="onSiteSettingsTap_">
          <div class="start">
            <div>$i18n{siteSettings}</div>
            <div class="secondary">$i18n{siteSettingsDescription}</div>
          </div>
        </div>
        <div class="settings-box">
          <paper-button on-tap="onClearBrowsingDataTap_" class="primary-button">
            $i18n{clearBrowsingData}
          </paper-button>
        </div>
      </neon-animatable>
<if expr="use_nss_certs">
      <template is="dom-if" name="manage-certificates">
        <settings-subpage page-title="$i18n{manageCertificates}">
          <settings-certificate-manager-page>
          </settings-certificate-manager-page>
        </settings-subpage>
      </template>
</if>
      <template is="dom-if" name="site-settings">
        <settings-subpage id="site-settings"
            page-title="$i18n{siteSettings}">
          <settings-site-settings-page current-route="{{currentRoute}}"
              category-selected="{{categorySelected}}">
          </settings-site-settings-page>
        </settings-subpage>
      </template>

      <template is="dom-if" name="all-sites">
        <settings-subpage page-title="$i18n{siteSettingsCategoryAllSites}">
          <all-sites
              selected-site="{{selectedSite}}"
              current-route="{{currentRoute}}">
          </all-sites>
        </settings-subpage>
      </template>
      <template is="dom-if" name="site-settings-category-automatic-downloads">
        <settings-subpage page-title="$i18n{siteSettingsAutomaticDownloads}">
          <site-settings-category
              selected-site="{{selectedSite}}"
              current-route="{{currentRoute}}"
              category="{{ContentSettingsTypes.AUTOMATIC_DOWNLOADS}}">
          </site-settings-category>
        </settings-subpage>
      </template>
      <template is="dom-if" name="site-settings-category-background-sync">
        <settings-subpage page-title="$i18n{siteSettingsBackgroundSync}">
          <site-settings-category
              selected-site="{{selectedSite}}"
              current-route="{{currentRoute}}"
              category="{{ContentSettingsTypes.BACKGROUND_SYNC}}">
          </site-settings-category>
        </settings-subpage>
      </template>
      <template is="dom-if" name="site-settings-category-camera">
        <settings-subpage page-title="$i18n{siteSettingsCategoryCamera}">
          <site-settings-category
              selected-site="{{selectedSite}}"
              current-route="{{currentRoute}}"
              category="{{ContentSettingsTypes.CAMERA}}">
            <media-picker type="camera" class="media-picker"></media-picker>
          </site-settings-category>
        </settings-subpage>
      </template>
      <template is="dom-if" name="site-settings-category-cookies">
        <settings-subpage page-title="$i18n{siteSettingsCategoryCookies}">
          <site-settings-category
              prefs="{{prefs}}"
              selected-site="{{selectedSite}}"
              current-route="{{currentRoute}}"
              category="{{ContentSettingsTypes.COOKIES}}">
          </site-settings-category>
        </settings-subpage>
      </template>
      <template is="dom-if" name="site-settings-category-fullscreen">
        <settings-subpage
            page-title="$i18n{siteSettingsCategoryFullscreen}">
          <site-settings-category
              selected-site="{{selectedSite}}"
              current-route="{{currentRoute}}"
              category="{{ContentSettingsTypes.FULLSCREEN}}">
          </site-settings-category>
        </settings-subpage>
      </template>
      <template is="dom-if" name="site-settings-category-images">
        <settings-subpage page-title="$i18n{siteSettingsCategoryImages}">
          <site-settings-category
              selected-site="{{selectedSite}}"
              current-route="{{currentRoute}}"
              category="{{ContentSettingsTypes.IMAGES}}">
          </site-settings-category>
        </settings-subpage>
      </template>
      <template is="dom-if" name="site-settings-category-location">
        <settings-subpage page-title="$i18n{siteSettingsCategoryLocation}">
          <site-settings-category
              selected-site="{{selectedSite}}"
              current-route="{{currentRoute}}"
              category="{{ContentSettingsTypes.GEOLOCATION}}">
          </site-settings-category>
        </settings-subpage>
      </template>
      <template is="dom-if" name="site-settings-category-javascript">
        <settings-subpage
            page-title="$i18n{siteSettingsCategoryJavascript}">
          <site-settings-category
              selected-site="{{selectedSite}}"
              current-route="{{currentRoute}}"
              category="{{ContentSettingsTypes.JAVASCRIPT}}">
          </site-settings-category>
        </settings-subpage>
      </template>
      <template is="dom-if" name="site-settings-category-keygen">
        <settings-subpage page-title="$i18n{siteSettingsKeygen}">
          <site-settings-category
              selected-site="{{selectedSite}}"
              current-route="{{currentRoute}}"
              category="{{ContentSettingsTypes.KEYGEN}}">
          </site-settings-category>
        </settings-subpage>
      </template>
      <template is="dom-if" name="site-settings-category-microphone">
        <settings-subpage
            page-title="$i18n{siteSettingsCategoryMicrophone}">
          <site-settings-category
              selected-site="{{selectedSite}}"
              current-route="{{currentRoute}}"
              category="{{ContentSettingsTypes.MIC}}">
            <media-picker type="mic" class="media-picker"></media-picker>
          </site-settings-category>
        </settings-subpage>
      </template>
      <template is="dom-if" name="site-settings-category-notifications">
        <settings-subpage
            page-title="$i18n{siteSettingsCategoryNotifications}">
          <site-settings-category
              selected-site="{{selectedSite}}"
              current-route="{{currentRoute}}"
              category="{{ContentSettingsTypes.NOTIFICATIONS}}">
          </site-settings-category>
        </settings-subpage>
      </template>
      <template is="dom-if" name="site-settings-category-plugins">
        <settings-subpage page-title="$i18n{siteSettingsPlugins}">
          <site-settings-category
              selected-site="{{selectedSite}}"
              current-route="{{currentRoute}}"
              category="{{ContentSettingsTypes.PLUGINS}}">
          </site-settings-category>
        </settings-subpage>
      </template>
      <template is="dom-if" name="site-settings-category-popups">
        <settings-subpage page-title="$i18n{siteSettingsCategoryPopups}">
          <site-settings-category
              selected-site="{{selectedSite}}"
              current-route="{{currentRoute}}"
              category="{{ContentSettingsTypes.POPUPS}}">
          </site-settings-category>
        </settings-subpage>
      </template>
      <template is="dom-if" name="site-settings-category-unsandboxed-plugins">
        <settings-subpage page-title="$i18n{siteSettingsUnsandboxedPlugins}">
          <site-settings-category
              selected-site="{{selectedSite}}"
              current-route="{{currentRoute}}"
              category="{{ContentSettingsTypes.UNSANDBOXED_PLUGINS}}">
          </site-settings-category>
        </settings-subpage>
      </template>

      <template is="dom-if" name="site-details">
        <settings-subpage
            page-title="$i18n{siteSettingsSiteDetailsPageTitle}">
          <site-details site="[[selectedSite]]"></site-details>
        </settings-subpage>
      </template>
    </settings-animated-pages>
  </template>
  <script src="privacy_page.js"></script>
</dom-module>
