<link rel="import" href="chrome://resources/html/polymer.html">
<link rel="import" href="chrome://resources/html/i18n_behavior.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-button/paper-button.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-radio-button/paper-radio-button.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-radio-group/paper-radio-group.html">
<link rel="import" href="/about_page/about_page_browser_proxy.html">
<link rel="import" href="/settings_dialog.html">
<link rel="import" href="/settings_shared_css.html">

<dom-module id="settings-channel-switcher-dialog">
  <template>
    <style include="settings-shared"></style>
    <settings-dialog id="dialog">
      <div class="title">$i18n{aboutChangeChannel}</div>
      <div class="body">
        <paper-radio-group
            on-paper-radio-group-changed="onChannelSelectionChanged_">
          <paper-radio-button name="[[browserChannelEnum_.STABLE]]">
            $i18n{aboutChannelStable}
          </paper-radio-button>
          <paper-radio-button name="[[browserChannelEnum_.BETA]]">
            $i18n{aboutChannelBeta}
          </paper-radio-button>
          <paper-radio-button name="[[browserChannelEnum_.DEV]]">
            $i18n{aboutChannelDev}
          </paper-radio-button>
        </paper-radio-group>
        <div id="warning" hidden="[[!shouldShowWarning_(warning_)]]">
          <h2>[[warning_.title]]</h2>
          <div>[[warning_.description]]</div>
        </div>
      </div>
      <div class="button-container">
        <paper-button class="cancel-button" on-tap="onCancelTap_"
            id="cancel">$i18n{cancel}</paper-button>
        <paper-button id="changeChannel" class="action-button"
            on-tap="onChangeChannelTap_"
            hidden="[[!shouldShowButtons_.changeChannel]]">
          $i18n{aboutChangeChannel}
        </paper-button>
        <paper-button id="changeChannelAndPowerwash" class="action-button"
            on-tap="onChangeChannelAndPowerwashTap_"
            hidden="[[!shouldShowButtons_.changeChannelAndPowerwash]]">
          $i18n{aboutChangeChannelAndPowerwash}
        </paper-button>
      </div>
    </settings-dialog>
  </template>
  <script src="channel_switcher_dialog.js"></script>
</dom-module>
