<link rel="import" href="chrome://resources/cr_elements/icons.html">
<link rel="import" href="chrome://resources/html/polymer.html">
<link rel="import" href="chrome://resources/polymer/v1_0/iron-icon/iron-icon.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-menu/paper-menu.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-menu/paper-submenu.html">
<link rel="import" href="/icons.html">
<link rel="import" href="/settings_shared_css.html">

<dom-module id="settings-menu">
  <template>
    <style include="settings-shared">
      iron-icon {
        --iron-icon-fill-color: var(--settings-nav-grey);
        -webkit-margin-end: 24px;
      }

      .iron-selected:not(.menu-trigger) > iron-icon {
        fill: var(--google-blue-500);
      }

      .menu-trigger span {
        -webkit-margin-end: 16px;
        flex: 1;
      }

      paper-menu {
        --paper-menu-selected-item: {
          font-weight: 500;
        };
        --paper-menu-focused-item-after: {
          background: none;
        };
        background: none;  /* Overrides <paper-menu> default. */
        color: var(--settings-nav-grey);
        font-size: 13px;
        padding: 0;
      }

      #basicPage {
        margin-top: 8px;
      }

      .page-menu > div {
        margin-top: 8px;
      }

      .page-menu {
        --paper-menu-selected-item: {
          font-weight: 500;
        };
      }

      .page-menu paper-menu {
        --paper-menu-selected-item: {
          color: var(--google-blue-500);
          font-weight: 500;
        };
      }

      .page-menu div {
        -webkit-margin-start: 24px;
        align-items: center;
        display: flex;
        font-size: 13px;
        font-weight: 500;
        min-height: 40px;
      }

      .separator {
        /* Per Alan@, this line is different from the other separator lines. */
        border-bottom: 1px solid rgba(0, 0, 0, 0.08);
        margin-top: 8px;
      }
    </style>
    <paper-menu name="root-menu">
      <div class="page-menu" data-page="basic" id="basicPage">
        <paper-menu attr-for-selected="data-section" class="menu-content"
            data-page="basic" id="basicMenu">
<if expr="chromeos">
          <div data-section="internet" on-tap="openPage_">
            <iron-icon icon="settings:network-wifi"></iron-icon>
            $i18n{internetPageTitle}
          </div>
</if>
          <div data-section="people" on-tap="openPage_">
            <iron-icon icon="settings:people"></iron-icon>
            $i18n{peoplePageTitle}
          </div>
          <div data-section="appearance" on-tap="openPage_">
            <iron-icon icon="settings:palette"></iron-icon>
            $i18n{appearancePageTitle}
          </div>
<if expr="chromeos">
          <div data-section="device" on-tap="openPage_">
            <iron-icon icon="settings:laptop-chromebook"></iron-icon>
            $i18n{devicePageTitle}
          </div>
</if>
          <div data-section="search" on-tap="openPage_">
            <iron-icon icon="cr:search"></iron-icon>
            $i18n{searchPageTitle}
          </div>
<if expr="not chromeos">
          <div data-section="defaultBrowser" on-tap="openPage_">
            <iron-icon icon="settings:web"></iron-icon>
            $i18n{defaultBrowser}
          </div>
</if>
          <div data-section="onStartup" on-tap="openPage_">
            <iron-icon icon="settings:power-settings-new"></iron-icon>
            $i18n{onStartup}
          </div>
        </paper-menu>
      </div>
      <paper-submenu class="page-menu" id="advancedPage" data-page="advanced"
          opened="{{advancedOpened_}}">
        <div class="menu-trigger" data-section="" on-tap="openPage_">
          <span>$i18n{advancedPageTitle}</span>
          <iron-icon icon="[[arrowState_(advancedOpened_)]]"></iron-icon>
        </div>
        <paper-menu attr-for-selected="data-section" class="menu-content"
            data-page="advanced" id="advancedMenu">
<if expr="chromeos">
          <div data-section="dateTime" on-tap="openPage_">
            <iron-icon icon="settings:access-time"></iron-icon>
            $i18n{dateTimePageTitle}
          </div>
</if>
          <div data-section="privacy" on-tap="openPage_">
            <iron-icon icon="settings:security"></iron-icon>
            $i18n{privacyPageTitle}
          </div>
<if expr="chromeos">
          <div data-section="bluetooth" on-tap="openPage_">
            <iron-icon icon="settings:bluetooth"></iron-icon>
            $i18n{bluetoothPageTitle}
          </div>
</if>
          <div data-section="passwordsAndForms" on-tap="openPage_">
            <iron-icon icon="settings:assignment"></iron-icon>
            $i18n{passwordsAndAutofillPageTitle}
          </div>
          <div data-section="languages" on-tap="openPage_">
            <iron-icon icon="settings:language"></iron-icon>
            $i18n{languagesPageTitle}
          </div>
          <div data-section="downloads" on-tap="openPage_">
            <iron-icon icon="cr:file-download"></iron-icon>
            $i18n{downloadsPageTitle}
          </div>
          <div data-section="printing" on-tap="openPage_">
            <iron-icon icon="settings:print"></iron-icon>
            $i18n{printingPageTitle}
          </div>
          <div data-section="a11y" on-tap="openPage_">
            <iron-icon icon="settings:accessibility"></iron-icon>
            $i18n{a11yPageTitle}
          </div>
<if expr="not chromeos">
          <div data-section="system" on-tap="openPage_">
            <iron-icon icon="settings:build"></iron-icon>
            $i18n{systemPageTitle}
          </div>
</if>
          <div data-section="reset" on-tap="openPage_">
            <iron-icon icon="settings:restore"></iron-icon>
            $i18n{resetPageTitle}
          </div>
        </paper-menu>
      </paper-submenu>
      <div class="separator"></div>
      <paper-submenu class="page-menu" data-page="about">
        <div class="menu-trigger" on-tap="openPage_" data-section="">
          $i18n{aboutPageTitle}
        </div>
      </paper-submenu>
    </paper-menu>
  </template>
  <script src="settings_menu.js"></script>
</dom-module>
