<link rel="import" href="chrome://resources/html/polymer.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-button/paper-button.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-input/paper-input.html">
<link rel="import" href="/i18n_setup.html">
<link rel="import" href="/settings_dialog.html">
<link rel="import" href="/settings_shared_css.html">
<link rel="import" href="/certificate_manager_page/certificates_browser_proxy.html">

<dom-module id="settings-certificate-password-encryption-dialog">
  <template>
    <style include="settings-shared">
      .password-buttons {
        margin-bottom: 20px;
      }
    </style>
    <settings-dialog id="dialog">
      <div class="title">$i18n{certificateManagerEncryptPasswordTitle}</div>
      <div class="body">
        <div>$i18n{certificateManagerEncryptPasswordDescription}</div>
        <div class="password-buttons">
          <paper-input type="password" value="{{password_}}" id="password"
              label="$i18n{certificateManagerPassword}"
              on-input="validate_"></paper-input>
          <paper-input type="password"
              value="{{confirmPassword_}}" id="confirmPassword"
              label="$i18n{certificateManagerConfirmPassword}"
              on-input="validate_"></paper-input>
        </div>
      </div>
      <div class="button-container">
        <paper-button class="cancel-button" on-tap="onCancelTap_">
          $i18n{cancel}
        </paper-button>
        <paper-button id="ok" class="action-button" on-tap="onOkTap_" disabled>
          $i18n{ok}
        </paper-button>
      </div>
    </settings-dialog>
  </template>
  <script src="certificate_password_encryption_dialog.js"></script>
</dom-module>
