<link rel="import" href="chrome://resources/html/polymer.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-button/paper-button.html">
<link rel="import" href="/i18n_setup.html">
<link rel="import" href="/settings_dialog.html">
<link rel="import" href="/settings_shared_css.html">

<dom-module id="settings-certificates-error-dialog">
  <template>
    <style include="settings-shared"></style>
    <settings-dialog id="dialog">
      <div class="title">[[model.title]]</div>
      <div class="body">
        <div>[[model.description]]</div>
        <template is="dom-if" if="[[model.certificateErrors]]">
          <template is="dom-repeat" items="[[model.certificateErrors]]">
            <div>[[getCertificateErrorText_(item)]]</div>
          </template>
        </template>
      </div>
      <div class="button-container">
        <paper-button id="ok" class="action-button" on-tap="onOkTap_">
          $i18n{ok}
        </paper-button>
      </div>
    </settings-dialog>
  </template>
  <script src="certificates_error_dialog.js"></script>
</dom-module>
