<link rel="import" href="chrome://resources/html/polymer.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-button/paper-button.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-icon-button/paper-icon-button.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-input/paper-input.html">
<link rel="import" href="/icons.html">
<link rel="import" href="/settings_dialog.html">
<link rel="import" href="/settings_shared_css.html">

<dom-module id="password-edit-dialog">
  <template>
    <style include="settings-shared">
      #passwordGroup {
        align-items: center;
        display: flex;
      }

      paper-input {
        width: var(--paper-input-max-width);
      }

      paper-icon-button {
        --iron-icon-fill-color: var(--paper-grey-800);
      }
    </style>
    <settings-dialog id="dialog">
      <div class="title">$i18n{editPasswordTitle}</div>
      <div class="body">
        <paper-input id="websiteInput" label="$i18n{editPasswordWebsiteLabel}"
            value="[[item.loginPair.originUrl]]">
        </paper-input>
        <paper-input id="usernameInput" label="$i18n{editPasswordUsernameLabel}"
            value="[[item.loginPair.username]]">
        </paper-input>
        <div id="passwordGroup">
          <paper-input id="passwordInput"
              label="$i18n{editPasswordPasswordLabel}"
              type="[[getPasswordInputType_(password)]]"
              value="[[getPassword_(item, password)]]">
          </paper-input>
          <paper-icon-button id="showPasswordButton"
              icon="settings:visibility" on-tap="onShowPasswordButtonTap_">
          </paper-icon-button>
        </div>
      </div>
      <div class="button-container">
        <paper-button id="cancelButton"
            on-tap="onCancelButtonTap_">$i18n{cancel}</paper-button>
        <paper-button id="saveButton" class="action-button"
            on-tap="onSaveButtonTap_">$i18n{save}</paper-button>
      </div>
    </settings-dialog>
  </template>
  <script src="/passwords_and_forms_page/password_edit_dialog.js"></script>
</dom-module>
